@import "../../../utils/utils.scss";

.Banner {
  padding-top: 50px;
  height: 200px;
  background: url("/banner.png");
  background-position: 54% 95%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px solid;
}
