@import "../../utils/utils.scss";
.Edit {
  margin-top: 100px;
  padding: 0 15%;
  margin-bottom: 100px;

  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 10%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }

  select {
    margin-top: 25px;
    cursor: pointer;
    width: 250px;
    border: none;
    background: #f5f5f5;
    padding: 7px;
    outline: none;
  }
}

.titleInput {
  @include CustomInput;
  font-size: 20px;
}

.submitBtn {
  button {
    @include CustomBtn;
    width: 10%;
  }
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
