@import "../../../utils/utils.scss";

.HeaderRoot {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0 15%;
  height: 50px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: height 0.2s ease;
  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 10%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }

  &_mobileBtn {
    display: none;

    @include mobile {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &_btn {
      @include mobile {
        border: none;
        background: none;
        padding-bottom: 10px;
        font-size: 20px;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.HeaderRightWrapper {
  display: flex;
  align-items: center;

  @include mobile {
    display: none;
  }
}

.dark {
  background: #121212;
  color: white;

  button {
    color: white;
  }
}

.light {
  background: #dedce0;
  color: #615f63;
}

.SkeletonHeader {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0 15%;
  height: 50px;
  background: none;
}
