@import "utils/utils.scss";

.snippetsWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  a {
    border-radius: 8px;
    border: 1px solid var(--slight-layer4);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    transition-duration: 250ms;
    &:hover {
      background: var(--slight-layer4);
    }

    @include mobile {
      padding: 8px;
      &:hover {
        background: none;
      }
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
    }
    .title {
      font-size: 15px;
      @include mobile {
        font-size: 13px;
      }
    }

    .date {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 12px;
      @include mobile {
        font-size: 10px;
      }
    }
  }
}
