@import "utils/utils.scss";

.PostTitle {
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: -0.004em;
  margin-top: 0px;
  font-weight: 800;
  color: var(--text1);
  margin-bottom: 2rem;
  word-break: keep-all;
  transition: color 0.125s ease-in 0s;

  @include mobile {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.AdditionalInfo {
  &_top {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      margin-top: 0.25rem;
      height: 100%;
    }
  }
  &_createAt {
    font-size: 17px;
  }
  &_Tag {
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    gap: 10px;
    color: #a5a5a5;
    padding-left: 0;
    cursor: pointer;

    span {
      &:hover {
        color: #6185e5;
      }
    }
  }
}
