@import "utils/utils.scss";

.Tags {
  span {
    font-size: 15px;
  }
}

.TagListWrap {
  display: flex;
  flex-flow: wrap;
  gap: 0.5rem;

  a {
    padding: 0.125rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--slight-layer3);
    display: flex;

    align-items: center;
    cursor: pointer;
    font-weight: 400;
    transition-duration: 0.15s;
    font-size: 15px;
    &:hover {
      background: var(--slight-layer4);
    }
    span {
      opacity: 0.8;
    }
  }
}

.showMoreButton {
  margin-top: 1rem;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--bg-element2);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 15px;
  svg {
    width: 20px;
    height: 20px;
  }
}
