@import "../../../../utils/utils.scss";

.HeaderRight {
  display: flex;
  gap: 5px;
  height: 50px;
  align-items: center;
  @include mobile {
    flex-direction: column;
  }
  span {
    display: flex;
    padding: 0 15px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    height: 40px;
    &:hover {
      background: #7d7b7f;
      color: white;
    }
  }
}
