.CategoryItem {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  .count {
    margin-left: 5px;
    color: #0099fa;
    background: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
    border: 0.5px solid #c8c8c8;
    border-radius: 4px;
    padding: 0 3px;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
