p {
  font-size: 16px;
  line-height: 32px;
}

.ql-editor p {
  margin-block-start: 0.5rem !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}
