html {
  overflow: auto;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial,
    sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

body[data-theme="dark"] {
  background: #121212;
  color: white;
  --bg-element1: #121212;
  --bg-element2: white;
  --bg-element3: #282c34;
  --bg-element4: #4d515a;
  --bg-element5: #3e4756;
  --bg-element6: #282c34;
  --bg-element7: #2a2a2a;

  --primary1: #6185e5;
  --primary2: #6e7788;

  --slight-layer: rgba(255, 255, 255, 0.1);
}

body[data-theme="light"] {
  background: white;
  color: black;
  --bg-element1: white;
  --bg-element2: black;
  --bg-element3: #f8f8f8;
  --bg-element4: #e5e5e5;
  --bg-element5: #0099fa;
  --bg-element6: white;
  --bg-element7: #c6c6c6;

  --primary1: #0099fa;
  --primary2: #005cb4;

  --slight-layer: rgba(0, 0, 0, 0.05);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ql-editor {
  min-height: 500px;
}

.hljs {
  line-height: 20px;
  font-size: 15px;
}

pre {
  overflow: auto;
}

pre code {
  background: #282c34 !important;
  color: #abb2bf !important;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: #fafafa;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px 0;
}

.ql-editor {
  max-height: 65vh;
}

.ql-indent-1 {
  margin-left: 25px;
}
.ql-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.utterances {
  max-width: 1440px !important;
}
