html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ql-editor {
  min-height: 500px;
}

.hljs {
  line-height: 20px;
  font-size: 15px;
}

pre {
  padding: 1rem;
  background: #fafafa;
  overflow: auto;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: #fafafa;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px 0;
}

.ql-editor {
  max-height: 65vh;
}

.ql-indent-1 {
  margin-left: 25px;
}
.ql-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}
