html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ql-editor {
  min-height: 500px;
}

.hljs {
  line-height: 20px;
  font-size: 15px;
}

pre {
  padding: 1rem;
  background: #fafafa;
  overflow: auto;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: #fafafa;
}

li {
  margin-bottom: 5px;
}

.ql-editor {
  max-height: 65vh;
}
