@import "utils/utils.scss";

.PostsListWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  h3 {
    margin-top: 0;
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

.PostsList {
  overflow: hidden;
}

.Posts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Post {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
  opacity: 0.8;
  transition-duration: 0.1s;

  &:hover {
    opacity: 1;
  }

  .date {
    font-size: 0.9rem;
    width: 40px;
    flex-shrink: 0;
  }

  .title {
    font-size: 1rem;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
