@import "../../../utils/variables.scss";

.PageBtn {
	padding: 0.3rem 0.8rem;
	border: none;
	cursor: pointer;
	font-size: 15px;
	height: 35px;
}

.dark {
	background: #{$PageBtn_Dark_Bg};
	color: #{$PageBtn_Dark_Color};

	&:hover {
		background: #{$PageBtn_Dark_Hover_Bg};
	}
}

.ligth {
	background: #{$PageBtn_Light_Bg};
	color: #{$PageBtn_Light_Color};

	&:hover {
		background: #{$PageBtn_Light_Hover_Bg};
	}
}