@import "utils/utils.scss";

.PostWrap {
  @include desktop {
    width: 75%;
    max-width: 1080px;
    margin: 0 auto;
  }
  margin-top: 50px !important;
  margin-bottom: 100px !important;
  @include mobile {
    padding: 0 5%;
    margin-top: 25px !important;
  }

  @include tablet {
    padding: 0 5%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }

  img {
    max-width: 100%;
  }

  a {
    word-break: break-all;
  }
}
