@import "utils/utils.scss";
@import "utils/variables.scss";

.PostCard {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgb(0 0 0 / 16%);

  height: 100%;
  min-height: 225px;
  margin-bottom: 25px;

  &:hover {
    transition-duration: 500ms;
    transform: translateY(-8px);
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
  }

  &_imgWrapper {
    margin: 0;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    height: 60%;
    overflow: hidden;
    @include tablet_landscape {
      height: 55%;
    }

    picture {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      backface-visibility: hidden;
      image-rendering: -webkit-optimize-contrast;
      //min-height: 150px;
      @include mobile {
        min-height: 180px;
      }

      //transition: transform 0.5s ease-in-out;
    }
  }

  &_titleBox {
    padding: 10px 10px;
    width: 100%;
    min-height: 45px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 40%;

    @include tablet_landscape {
      height: 45%;
      padding: 8px;
    }

    @include mobile {
      min-height: 90px;
    }

    &_title {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include mobile {
        width: 300px;
      }

      @include tablet_landscape {
        font-size: 15px;
      }

      span {
        width: 200px;
      }
    }

    &_tagBox {
      height: 23px;
      overflow: hidden;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      flex-flow: wrap;
      padding: 0;
      margin: 0;
      @include tablet_landscape {
        font-size: 10px;
        gap: 3px;
      }

      span {
        margin-right: 3px;

        &:hover {
          color: #0099fa;
        }
      }
    }

    &_createdAt {
      font-size: 12px;
      font-weight: 500;
      opacity: 0.5;
      display: flex;
      gap: 5px;
      @include tablet_landscape {
        font-size: 10px;
      }
    }

    @include mobile {
      width: 100%;
    }
  }
}

.dark {
  background: #{$PostCard_Dark_Bg};
  color: white !important;
  border: 0.5px solid #2a2a2a;
}

.light {
  background: #{$PostCard_Light_Bg};
  color: black !important;
  border: 0.5px solid #c8c8c8;
}

.lighttitleBox {
  border-top: 1px solid #c8c8c8;
}

.SkeletonPostCard {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e2e2e2 0% 0% no-repeat padding-box;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgb(0 0 0 / 16%);

  height: 100%;
  min-height: 225px;
  margin-bottom: 25px;
}

.SkeletonImg {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  animation: skeletonImg 1.5s infinite ease-in-out;

  @include mobile {
    height: 180px;
  }
}

.SkeletonTitle {
  width: 100%;
  height: 25px;
  background: #f2f2f2;
  animation: skeletonTitle 1.5s infinite ease-in-out;
}

.SkeletonTag {
  width: 100%;
  display: flex;
  gap: 5%;

  div {
    width: 15%;
    height: 16px;
    background: #f2f2f2;
    animation: skeletonEtc 1.5s infinite ease-in-out;
  }
}

.SkletonDate {
  width: 45%;
  height: 15px;
  background: #f2f2f2;
  animation: skeletonEtc 1.5s infinite ease-in-out;
}

@keyframes skeletonImg {
  0% {
    background: rgba(165, 165, 165, 0.2);
  }

  50% {
    background: rgba(165, 165, 165, 0.5);
  }

  100% {
    background: rgba(165, 165, 165, 0.2);
  }
}

@keyframes skeletonTitle {
  0% {
    background: rgba(165, 165, 165, 0.1);
  }

  50% {
    background: rgba(165, 165, 165, 0.5);
  }

  100% {
    background: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeletonEtc {
  0% {
    background: rgba(165, 165, 165, 0.1);
  }

  25% {
    background: rgba(165, 165, 165, 0.3);
  }

  50% {
    background: rgba(165, 165, 165, 0.2);
  }

  100% {
    background: rgba(165, 165, 165, 0.1);
  }
}
