@import "utils/utils.scss";

.Form {
  display: flex;
  flex-direction: column;
  @include desktop {
    width: 100%;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  input {
    @include StyledInput;
    margin-bottom: 10px;
  }
  button {
    @include StyledButton;
    width: 100%;
  }
  .errMsg {
    font-size: 12px;
    text-align: left;
    color: var(--complement);
    margin-bottom: 10px;
  }
}

.SignUpButton {
  border: none;
  background: none;
  font-size: 12px;
  color: #868e96;
  cursor: pointer;
  margin-top: 15px;
  &:hover {
    color: var(--primary1);
  }
}
