@import "utils/utils.scss";

.headerStyleWrap {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  color: white;
  transition: margin-top 0.5s ease;
  overflow: hidden;
  background: var(--header-background);
  color: var(--header-color);
  border-bottom: 2px solid var(--header-border-bottom);
  @include desktop {
    display: flex;
    justify-content: center;
  }

  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 5%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }
}

.headerContentWrap {
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: space-between;
  @include desktop {
    width: 90%;
    max-width: 1440px;
  }
}
.SkeletonHeader {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0 15%;
  height: 50px;
  background: none;
}
.headerLeftWrap {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  button {
    cursor: pointer;
    border: none;
    background: none;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 5px;
    &:hover {
      animation-name: shake;
      animation-duration: 0.6s;
    }
    @include mobile {
      display: none;
    }
  }

  img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-top: 5px;
  }

  &_email {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.headerRightWrap {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    margin: 0 10px;
    @include mobile {
      display: none;
    }
  }
  button {
    border: none;
    cursor: pointer;
  }
}

.AuthButton {
  @include StyledButton;
  font-weight: 700;
  padding: 10px;
  margin-left: 0.5rem;
}

.iconButton {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  position: relative;

  &:hover {
    background: var(--slight-layer);
  }
}

.writeButton {
  @include StyledButton;
  color: white;
  font-weight: 700;
  padding: 10px 15px;
  @include mobile {
    display: none;
  }
}
