@import "utils/utils.scss";

.headerStyleWrap {
  z-index: 100;
  width: 100%;
  height: 60px;
  color: white;
  transition: margin-top 0.5s ease;
  overflow: hidden;
  background: var(--bg-element1);
  color: var(--bg-element2);
  border-bottom: 2px solid var(--bg-element4);
  @include desktop {
    display: flex;
    justify-content: center;
  }

  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 5%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }
}

.headerContentWrap {
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: space-between;
  @include desktop {
    width: 90%;
    max-width: 1440px;
  }
  h1 {
    font-size: 1.75rem;
    cursor: pointer;
    margin-right: 10px;
    &:hover {
      transition: 250ms;
      color: var(--primary1);
    }
  }
}
.SkeletonHeader {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0 15%;
  height: 50px;
  background: none;
}

.headerRightWrap {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
  @include mobile {
    gap: 0;
  }

  span {
    margin: 0 10px;
    @include mobile {
      display: none;
    }
  }
  button {
    border: none;
    cursor: pointer;
  }
}

.AuthButton {
  @include StyledButton;
  font-weight: 700;
  padding: 10px;
  @include mobile {
    display: none;
  }
}

.iconButton {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  position: relative;

  &:hover {
    background: var(--slight-layer);
  }
}

.writeButton {
  @include StyledButton;
  color: white;
  font-weight: 700;
  padding: 10px 15px;
  @include mobile {
    display: none;
  }
}

.PageNavigaition {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  height: 40px;
  @include mobile {
    display: none;
  }
  a {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0 10px;
    transition-duration: 250ms;
    font-size: 18px;
    &:hover {
      background: var(--bg-element4);
      transform: scale(1.1);
    }
  }
}

.MobileMenuToggleButton {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  display: none;
  @include mobile {
    display: block;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: var(--bg-element2);
  }
}

.MobileMenu {
  gap: 32px;
  background-color: var(--slight-layer2);
  transition-duration: 500ms;
  opacity: 0.95;
  .Navigator {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    font-size: 25px;
    font-weight: 700;
    button {
      border: none;
      background: none;
      font-size: 25px;
      font-weight: 700;
      color: var(--bg-element2);
    }
  }

  .current {
    text-decoration-color: var(--primary1);
    text-underline-offset: 8px;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
  }

  .closeArea {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      border: none;
      background: none;
      width: 50px;
      height: 50px;
      margin-right: 5%;
      svg {
        width: 45px;
        height: 45px;
        fill: var(--bg-element2);
      }
    }
  }
}

.themeSVG {
  animation-name: rotateAnimation;
  animation-duration: 0.5s;
}

@keyframes rotateAnimation {
  0% {
    transform: scale(0) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
