@import "utils/utils.scss";

.Form {
  display: flex;
  flex-direction: column;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  input {
    @include StyledInput;
    margin-bottom: 10px;
  }
  button {
    @include StyledButton;
    width: 100%;
  }
}
