@import "utils/utils.scss";

.PostWrap {
  @include PageContentLayout;
  @include desktop {
    width: 75%;
    max-width: 1080px;
  }

  img {
    max-width: 100%;
  }

  a {
    word-break: break-all;
  }
}
