.FlexItems {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}

.DivWithLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ListItem {
  display: flex;
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
    &:focus {
      border: none;
    }
  }
  button {
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--complement);
    &:hover {
      background: var(--complement_hover);
    }
  }
}
