@import "utils/utils.scss";

.ImageUploader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  button {
    @include StyledButton;
    height: 43px;
    white-space: nowrap;
  }
  input {
    @include StyledInput;
  }
}
