.TopViewsPosts {
  padding: 25px;
  width: 100%;
  border-radius: 4px;
  border: 0.5px solid #c8c8c8;
  position: relative;
  h2 {
    font-size: 15px !important;
  }
  div {
    gap: 5px;
    span {
      font-size: 12px !important;
    }
    button {
      font-size: 12px !important;
      padding: 5px 10px;
    }
  }
  .title {
    margin-top: 0;
    text-align: center;
  }
  .ListWrapper {
    position: relative;
    min-height: 288px;
  }
  .contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    .content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      margin: 0;
      padding: 0;
      &:hover {
        color: #6185e5;
      }
    }
  }
}

.dark {
  box-shadow: 0px 1px 7px white;
}
.light {
  box-shadow: 0px 1px 7px #333d4b26;
}
.SkeletonWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  .TopViewsSkeleton {
    width: 100%;
    height: 20px;
    animation: skeleton 1.5s infinite ease-in-out;
  }
}

@keyframes skeleton {
  0% {
    background: rgba(165, 165, 165, 0.1);
  }

  50% {
    background: rgba(165, 165, 165, 0.5);
  }

  100% {
    background: rgba(165, 165, 165, 0.1);
  }
}
