@import "utils/utils.scss";

.CategoryList {
  width: 200px;
  display: flex;
  gap: 10px;
  align-items: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  @include mobile {
    width: 95vw;
    padding-right: 5vw;
  }

  @include tablet {
    width: 90vw;
  }
  @include tablet_landscape {
    flex-direction: column;
  }
  @include desktop {
    flex-direction: column;
  }

  h2 {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    margin: 0px 0px 1.25rem;
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

.CategoryButtonWrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 285px;
  overflow-y: scroll;
  padding: 0px 1rem 1rem 0px;
  &::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--bg-element4);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary1);
  }
  @include mobile {
    flex-direction: row;
    height: fit-content;
    padding: 0px 0 0.5rem 0px;
    overflow-y: hidden;
  }
  @include tablet {
    flex-direction: row;
    height: fit-content;
    padding: 0px 0 0.5rem 0px;
    overflow-y: hidden;
  }
}
