@import "utils/utils.scss";

.HeaderRight {
  display: flex;
  height: 50px;
  align-items: center;
  @include mobile {
    flex-direction: column;
  }

  span {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: var(--slight-layer);
      border-radius: 100%;
    }
  }
}
