@import "utils/utils.scss";

.HeaderRight {
  display: flex;
  gap: 5px;
  height: 50px;
  align-items: center;
  margin-left: 20px;
  @include mobile {
    flex-direction: column;
  }

  span {
    display: flex;
    padding: 0 15px;
    align-items: center;
    cursor: pointer;
    height: 50px;
    &:hover {
      color: var(--header-hover-color);
      border-bottom: 1.5px solid var(--header-hover-color);
    }
  }
}
