@import "utils/utils.scss";

@mixin SeriesCardLayout {
  width: 100%;
  border-radius: 4px;
  padding: 0.75rem;
  @include mobile {
    padding: 0;
  }
}

.SeriesCard {
  @include SeriesCardLayout;
  &:hover {
    transition-duration: 500ms;
    background: var(--bg-element4);
  }
}

.thumbnailImgWrapper {
  margin: 0;
  position: relative;
  width: 100%;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    padding-bottom: 75%;
  }
  @include mobile {
    width: 100%;
    &::after {
      content: "";
      display: block;
      padding-bottom: 60%;
    }
  }
}

@mixin articleLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.articleWrap {
  @include articleLayout;
  @include mobile {
    padding: 5px;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    @include mobile {
      font-size: 1.25rem;
    }
  }
}

.shortDescription {
  margin-top: 10px;
}

.bottom {
  display: flex;
  gap: 0.5rem;
  font-size: 13px;
  color: var(--bg-element2);
  margin-top: 10px;
  div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  @include mobile {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--primary4);
  }
}
