@import "../utils/utils.scss";

.HomeWrapper {
  @include desktop {
    display: flex;
  }
}

.HomeContentWrapper {
  margin-top: 65px;
  padding-left: 15%;
  margin-bottom: 100px;
  @include desktop {
    width: 85%;
  }
  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 10%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }
}
