.darkmodeBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  &:hover {
    background: var(--slight-layer);
    border-radius: 100%;
  }
}
