.OtherPostInfoWrapper {
  padding: 20px;
  margin-top: 100px;
  border: 0.5px solid #c8c8c8;
  border-radius: 4px;
}
.dark {
  box-shadow: 0px 1px 7px white;
}
.light {
  box-shadow: 0px 1px 7px #333d4b26;
}
.OtherCategory {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 5px;
}
