@import "../../../utils/utils.scss";

.PostsRoot {
  max-height: 75vh;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2%;
  margin-bottom: 25px;
  width: 100%;
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include mobile {
    display: block;
    max-height: none;
  }
}
