@import "../../../utils/utils.scss";

.PostsRoot {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.5%;
  margin-bottom: 50px;
  width: 100%;
  max-height: 80vh;
  @include tablet_landscape {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include tablet {
    grid-template-columns: 1fr 1fr;
    max-height: none;
  }
  @include mobile {
    display: block;
    max-height: none;
  }
}

.TagAndSearch {
  max-height: none;
}

.Default {
  max-height: none;
}

.SkeletonWrapper {
  margin-top: 65px;
  padding: 0 15%;
  margin-bottom: 100px;

  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 5%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }
  .CategoryChipWrapper {
    display: flex;
    gap: 10px;
    flex-flow: wrap;
    @include mobile {
      display: none;
    }
  }
}
