@import "../../../utils/utils.scss";

.PostsRoot {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5%;
  margin-bottom: 15px;
  width: 100%;
  max-height: 80vh;
  @include tablet {
    grid-template-columns: 1fr 1fr;
    max-height: none;
  }
  @include mobile {
    display: block;
    max-height: none;
  }
}
