@import "utils/utils.scss";

.CommentForm {
  width: 100%;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 0.5px solid #c8c8c8;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }

  textarea {
    resize: none;
    height: 100px;
    @include StyledInput;
    background: var(--input-background);
    color: var(--text-color);
  }

  button {
    @include StyledButton;
    width: 20%;
  }
}
