@import "utils/utils.scss";

.darkmodeBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  // @include mobile {
  //   &:hover {
  //     background: none !important;
  //     border-radius: none;
  //   }
  //   svg {
  //     width: 35px;
  //     height: 35px;
  //   }
  // }
  // &:hover {
  //   background: var(--slight-layer);
  //   border-radius: 100%;
  // }
}
