@import "utils/utils.scss";

.RoutePostButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 20px;
  overflow: hidden;
  @include mobile {
    flex-direction: column-reverse;
  }
}

@mixin RoutePostButton {
  display: flex;
  align-items: center;
  width: 50%;
  @include mobile {
    width: 100%;
  }
  padding: 0.75rem;
  gap: 0.5rem;
  font-weight: 600;
  border-radius: 4px;
  background: var(--button-background-mono);
  transition: background 0.3s ease;
  svg {
    color: var(--colored-button-backgrouind);
    width: 2.25rem;
    height: 2.25rem;
    transition: transform 0.3s ease;
  }
  div {
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &:hover {
    background: var(--button-background-mono-hover);
  }
}

.prevRoutePostButton {
  @include RoutePostButton;
  flex-direction: row-reverse;
  &:hover {
    svg {
      animation-name: bounceLeft;
      animation-duration: 0.5s;
    }
  }
}

.nextRoutePostButton {
  @include RoutePostButton;
  text-align: right;
  &:hover {
    svg {
      animation-name: bounceRight;
      animation-duration: 0.5s;
    }
  }
}

.RoutePostButtonDescription {
  opacity: 0.6;
}

.RoutePostButtonTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 2rem;
}

@keyframes bounceRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0);
  }
}
