@import "utils/utils.scss";
.PageLayout {
  margin-top: 75px;
  margin-bottom: 100px;
  min-height: 100vh;
  height: fit-content;
  @include desktop {
    margin-top: 100px;
  }
}

.PostPageLayout {
  @include PageContentLayout;
  @include desktop {
    width: 75%;
    max-width: 1080px;
  }

  img {
    max-width: 100%;
  }

  a {
    word-break: break-all;
  }
}

.WithOutFlexLayout {
  @include desktop {
    width: 90%;
    max-width: 1440px;
  }
  @include PageContentLayout;
}

.WithFlexLayout {
  @include desktop {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }

  @include PageContentLayout;
  @include tablet_landscape {
    gap: 2.5rem;
  }
}

.WithMaxWidth720px {
  max-width: 720px;
  @include PageContentLayout;
}
