@import "../../utils/utils.scss";

.CategoryWrapper {
  margin-top: 75px;
  padding: 0 15%;
  margin-bottom: 100px;

  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 10%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }
}
