@import "../../../../utils/utils.scss";

.PostContent {
  position: relative;
  display: flex;
}

.Content {
  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  @include desktop {
    width: 77%;
  }

  blockquote {
    margin: 2rem 0px;
    border-left: 4px solid #0099fa;
    padding: 1rem 1rem 1rem 2rem;
  }

  a {
    color: #0099fa;
    font-weight: 600;

    &:hover {
      color: #6185e5;
    }
  }
  img {
    backface-visibility: hidden;
    image-rendering: -webkit-optimize-contrast;
  }
}

.TopicWrapper {
  display: none;

  @include desktop {
    width: 20%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: auto;
    div::-webkit-scrollbar {
      display: none;
    }
    &_second {
      position: sticky;
      top: 30vh;
      max-height: 50vh;
      overflow: auto;
      border-left: 1px solid #c8c8c8;
      padding-left: 2vw;
      display: flex;
      flex-direction: column;
      gap: 20px;
      div {
        width: fit-content;
        cursor: pointer;
        padding-bottom: 10px;

        &:hover {
          color: #6185e5;
        }
      }
    }
  }
}
