@import "utils/utils.scss";

.PostContent {
  position: relative;
  display: flex;
}

.Content {
  @include tablet {
    width: 100%;
  }

  @include tablet_landscape {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  @include desktop {
    width: 77%;
  }

  img {
    backface-visibility: hidden;
    image-rendering: -webkit-optimize-contrast;
  }
  h1 {
    font-size: 1.75em !important;
  }
  h2 {
    font-size: 1.17em !important;
  }
  a {
    color: #eb5757;
    &:hover {
      border-bottom: 1px solid #eb5757;
      //color: #f6aca6;
    }
  }
}
