@import "../../../../utils/utils.scss";

.PostContent {
  position: relative;
  display: flex;
}

.Content {
  @include tablet {
    width: 100%;
  }

  @include tablet_landscape {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  @include desktop {
    width: 77%;
  }

  a {
    color: #0099fa;
    font-weight: 600;

    &:hover {
      color: #6185e5;
    }
  }
  img {
    backface-visibility: hidden;
    image-rendering: -webkit-optimize-contrast;
  }
}
