@import "utils/utils.scss";

.mainContentsWrapper {
  @include desktop {
    width: 90%;
    max-width: 1440px;
    display: flex;
    gap: 2.5rem;
  }

  @include PageContentLayout;
  @include tablet_landscape {
    gap: 2.5rem;
  }
}
