@import "utils/variables.scss";

.TagIcon {
  padding: 7.5px 12.5px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  font-size: 11px;
  background: var(--button-background);
  &:hover {
    background: #6185e5;
  }
}
