@import "../../../utils/variables.scss";

.TagIcon {
  padding: 10px 15px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  &:hover {
    background: #6185e5;
  }
}

.dark {
  background: #{$CategoryChip_Dark_Bg};

  .categoryLength {
    background: #615f63;
    border: 0.5px solid #615f63;
  }
}

.light {
  background: #{$CategoryChip_Light_Bg};

  .categoryLength {
    background: white;
    border: 0.5px solid #c8c8c8;
  }
}
