@import "utils/utils.scss";

.ListContainerWrapper {
  margin-top: 75px;
  min-height: 100vh;
  height: fit-content;
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.mainContentsWrapper {
  margin-top: 15px;
  margin-bottom: 100px;

  @include desktop {
    width: 90%;
    max-width: 1440px;
    display: flex;
    gap: 2.5rem;
  }
  @include tablet_landscape {
    padding: 0 10%;
    gap: 2.5rem;
  }
  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 5%;
  }
}
