@import "utils/utils.scss";

.titleInput {
  @include StyledInput;
  font-size: 20px;
  width: 60%;
}

.Editor {
  margin-top: 25px;
  margin-bottom: 20px;
  code {
    background: rgba(135, 131, 120, 0.15) !important;
    color: #06f;
    border-radius: 3px;
    font-size: 85%;
    padding: 0.2em 0.4em;
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono",
      Courier, monospace;
  }

  blockquote {
    margin: 2rem 0px !important;
    border-left: 4px solid #0099fa !important;
    padding: 1rem 1rem 1rem 2rem !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(135, 131, 120, 0.15) !important;
    a {
      color: #0099fa !important;
      &:hover {
        border-bottom: 1px solid #0099fa !important;
      }
    }
  }
}

.tagListWrap {
  margin-left: 20px;
  display: flex;
  gap: 10px;
  div {
    background: var(--bg-element5);
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 10px;
  }
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
}

.ShortDescription {
  margin-top: 20px;
  input {
    margin-top: 10px;
    @include StyledInput;
  }
  select {
    margin-top: 10px;
    margin-right: 15px;
  }
  button {
    @include StyledButton;
    height: 45px;
    padding: 0 10px;
  }
}
