@import "../../utils/utils.scss";

.Post {
  margin-top: 100px;
  padding: 0 25%;
  margin-bottom: 100px;

  @include mobile {
    padding: 0 5%;
    margin-top: 75px;
  }

  @include tablet {
    padding: 0 10%;
  }

  @include tablet_landscape {
    padding: 0 10%;
  }
}
