// 반응형을 위한 scss 파일
@import "utils/variables.scss";

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-tablet_landscape - 1px}) {
    @content;
  }
}

@mixin tablet_landscape {
  @media (min-width: #{$breakpoint-tablet_landscape}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin StyledInput {
  padding: 13px 20px;
  background: #f5f5f5;
  width: 100%;
  border: none;
  font-size: 15px;
  border-radius: 4px;

  &:focus {
    outline: none;
    border: 1px solid #0099fa;
  }
}

@mixin StyledButton {
  width: fit-content;
  border: none;
  background: var(--bg-element5);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    transition: background 0.25s ease;
    background: var(--primary2);
  }
}

@mixin Card {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-element6) 0% 0% no-repeat padding-box;
  color: var(---bg-element2);
  border: 0.5px solid var(--bg-element7);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgb(0 0 0 / 16%);

  height: 100%;
  min-height: 265px;
  margin-bottom: 25px;
}

@mixin PageContentLayout {
  @include desktop {
    margin: 0 auto;
  }
  @include tablet_landscape {
    padding: 0 10%;
  }
  @include mobile {
    padding: 0 5%;
  }

  @include tablet {
    padding: 0 5%;
  }
}

@mixin skeletonAnimation {
  animation: skeleton 1.5s infinite ease-in-out;
}

@keyframes skeleton {
  0% {
    background: rgba(165, 165, 165, 0.1);
  }

  50% {
    background: rgba(165, 165, 165, 0.5);
  }

  100% {
    background: rgba(165, 165, 165, 0.1);
  }
}
