
figure{
    max-width: 100%;
}

img{
    width:100%;
}

.image_resized {
    max-width: 100%;
    width: 100%;
}


.image_resized {
    margin : auto;
}

.image-style-align-right{
    float : right;
}
.image-style-align-left{
    float : left;
}