@import "utils/variables.scss";
@import "utils/utils.scss";

.CategoryChip {
  @include StyledButton;
  padding: 10px 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  white-space: nowrap;
  font-size: 12px;
  @include mobile {
    padding: 5px 10px;
  }
}

.Selected {
  background: var(--primary2);
}

.CategoryLength {
  margin-left: 5px;
  color: #6185e5;
  background: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
  border: 0.5px solid #c8c8c8;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CategorySkeleton {
  height: 40px;
  min-width: 121px;
  background: #f2f2f2;
  animation: Skeleton 1.5s infinite ease-in-out;
}

@keyframes Skeleton {
  0% {
    background: rgba(165, 165, 165, 0.1);
  }

  50% {
    background: rgba(165, 165, 165, 0.5);
  }

  100% {
    background: rgba(165, 165, 165, 0.1);
  }
}
