@import "utils/utils.scss";

.SeriesInfo {
  padding: 2rem 1.5rem;
  background: var(--bg-element8);
  border-radius: 4px;
  position: relative;
  @include mobile {
    padding: 1rem;
  }
  h2 {
    margin: 0;
    margin-bottom: 1rem;
    @include mobile {
      font-size: 1.25rem;
      padding-right: 1.5rem;
    }
  }
  .bookMarkSVG {
    position: absolute;
    top: 0;
    right: 0.5rem;
    width: 80px;
    height: 60px;
    color: var(--primary1);
    path {
      width: 100%;
      height: 100%;
      fill: var(--primary1);
    }
    @include mobile {
      right: 0.5rem;
      width: 35px;
      height: 35px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    @include mobile {
      margin-top: 2rem;
    }
    .showSeriesButton {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      color: var(--bg-element2);
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 15px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.SeriesIndexHandler {
  display: flex;
  align-items: center;
  gap: 1rem;
  div {
    display: flex;
    gap: 0.5rem;
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:disabled {
      cursor: default;
      svg {
        opacity: 0.3;
      }
    }
    &:enabled {
      svg {
        &:hover {
          background: var(--primary1);
          color: white;
        }
      }
    }
    svg {
      border: 0.5px solid var(--slight-layer);
      border-radius: 100%;
      width: 25px;
      height: 25px;
      color: var(--primary1);
      @include mobile {
        width: 20px;
        height: 20px;
      }
    }
  }
  span {
    opacity: 0.4;
    font-size: 13px;
  }
}
