@import "utils/utils.scss";

.SeriesListLayout {
  display: grid;
  gap: 2.5rem;
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
  @include tablet_landscape {
    grid-template-columns: repeat(3, 1fr);
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}
