.goBackBtn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  span {
    margin-top: 5px;
  }
  img {
    width: 20px;
    height: 17px;
  }
}
