@import "utils/utils.scss";

@mixin PostCardLayout {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  display: flex;
  gap: 1.5rem;
  @include mobile {
    padding: 0;

    display: block;
  }
}

.PostCard {
  @include PostCardLayout;
  &:hover {
    transition-duration: 500ms;
    background: var(--bg-element4);
  }
  @include mobile {
    &:hover {
      background: none;
    }
  }
}

.thumbnailImgWrapper {
  margin: 0;
  position: relative;
  width: 30%;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
  @include mobile {
    width: 100%;
    &::after {
      content: "";
      display: block;
      padding-bottom: 60%;
    }
  }
}

@mixin articleLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(65% - 1.5rem);
  @include mobile {
    width: 100%;
  }
}

.articleWrap {
  @include articleLayout;
  @include mobile {
    padding: 5px;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    @include mobile {
      font-size: 1.25rem;
    }
  }
}

@mixin tabListlayout {
  display: flex;
  gap: 0.5rem;
  padding-left: 0;
  margin: 0;
  margin-top: 10px;
}

.tagListWrap {
  @include tabListlayout;
}

.shortDescriptionSkeletonWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.shortDescription {
  word-break: break-all;
  font-size: 1rem;
  line-height: 1.75;

  .prepare {
    opacity: 0.6;
  }
}

.bottom {
  display: flex;
  gap: 0.5rem;
  font-size: 13px;
  color: var(--bg-element2);
  margin-top: 10px;
  div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  @include mobile {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--primary4);
  }
}

.PostCardSkeleton {
  @include PostCardLayout;

  height: 200px;
  @include mobile {
    height: fit-content;
  }

  &_thumbNailWrapper {
    @include skeletonAnimation;
    width: 30%;
    height: 100%;
    @include mobile {
      width: 100%;
      height: 210px;
    }
  }
  &_articleWrapper {
    @include articleLayout;
    @include mobile {
      margin-top: 5px;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--primary4);
    }
    .titleSkeleton {
      width: 70%;
      height: 32px;
      @include skeletonAnimation;
      @include mobile {
        width: 100%;
      }
    }

    .titleSkeletonSecondLine {
      display: none;
      @include mobile {
        display: block;
        margin-top: 5px;
        width: 35%;
        height: 32px;
        @include skeletonAnimation;
      }
    }
    .tabSkeletonWrap {
      @include tabListlayout;
      .tabSkeleton {
        width: 50px;
        height: 20px;
        @include skeletonAnimation;
      }
    }
    .shortDescriptionSkeleton {
      margin-top: 5px;
      width: 80%;
      height: 20px;
      @include skeletonAnimation;
    }
  }
  .bottomSkeleton {
    margin-top: 5px;
    width: 30%;
    height: 20px;
    @include skeletonAnimation;
  }
}
