@import "../utils.scss";
@import "../variables.scss";
.Modal {
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 25px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.content {
  width: 80%;
  z-index: 2;
  padding: 30px 20px;
  text-align: center;
  color: black;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  img {
    cursor: pointer;
  }
  @include desktop {
    width: 30%;
  }
  @include tablet {
    width: 50%;
  }
  @include tablet_landscape {
    width: 40%;
  }
}

.dark {
  background: #2e2e2e;
  color: white;
  input {
    background: #{$ModalInput_Dark_Bg} !important;
    color: white;
    &:focus {
      border: 1px solid #{$ModalBtn_Dark_Bg} !important;
    }
  }
  button {
    background: #{$ModalBtn_Dark_Bg} !important;
  }
}

.light {
  background: white;
  input {
    background: #{$ModalInput_Light_Bg} !important;

    &:focus {
      border: 1px solid #{$ModalBtn_Light_Bg} !important;
    }
  }
  button {
    background: #{$ModalBtn_Light_Bg} !important;
  }
}
