@import "utils/utils.scss";

.OtherPostInfoWrapper {
  padding: 20px;
  margin-top: 50px;
  border: 0.5px solid #c8c8c8;
  border-radius: 4px;
  box-shadow: 0px 1px 7px var(--box-shadow-color);
}
.OtherCategory {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 5px;
  @include mobile {
    font-size: 17.5px;
  }
}
