.SeriesList {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
  li {
    text-align: left;
    &:hover {
      color: var(--primary1);
      font-weight: 700;
    }
    font-style: italic;
    a {
      font-style: normal;
    }
  }

  .current {
    color: var(--primary1);
    font-weight: 700;
  }
}
