@import "utils/utils.scss";
.focus {
  transform: scale(1.1);
  opacity: 1;
}
.nonFocus {
  transform: scale(0.8);
  opacity: 1;
}

.TableOfContentsWrap {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 3%;
    flex-direction: column;
    padding-left: 20px;
    gap: 7.5px;
    border-left: 1px solid #c8c8c8;
    height: fit-content;
    position: sticky;
    top: 10vh;
    div::-webkit-scrollbar {
      display: none;
    }
  }
}

.Row {
  width: fit-content;
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 0.875rem;
  transition: all 0.125s ease;
  opacity: 0.8;
  font-weight: 700;
  &:hover {
    color: #6185e5;
  }
}

.activeToc {
  transform: scale(1.1);
  opacity: 1;
  color: var(--header-hover-color);
}

.inActiveToc {
  transform: scale(1);
  opacity: 0.7;
}

.TOCButton {
  @include desktop {
    display: none;
  }
  width: 50px;
  position: fixed;
  top: 62px;
  right: -2px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 0;
  color: white;
  background: var(--button-background);
  border-radius: 4px;
  border: 2px solid var(--toc-button-hover-background);
  border-right: none;
  transition: margin-right 0.5s ease;
}
